<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com" xmlns="http://www.w3.org/1999/html">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<head>
    <title>Todo App</title>
    <div th:replace="Fragments/Header :: head"></div>
</head>
<body>
<div th:replace="Fragments/Nav :: nav"></div>

<div class="flex flex-col justify-center items-center py-5">
    <h1 class="text-xl font-bold">Welcome to the Todo App</h1>
    <p class="text-sm text-gray-500">This is the home page.</p>
</div>



<script>
    document.addEventListener("DOMContentLoaded", function() {
       const links = document.querySelectorAll(".links a");
       const currentPath = window.location.pathname;

       links.forEach(link => {
           if (link.getAttribute("href") === currentPath) {
               link.parentElement.classList.add("active");
           }

           link.addEventListener("click", function() {
               links.forEach(l => l.parentElement.classList.remove("active"));
               this.parentElement.classList.add("active");
           });
       });
   });

</script>
</body>
</html>
