<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
<head>
    <title>Todo App</title>
    <div th:replace="Fragments/Header :: head"></div>
</head>
<body>
<div th:replace="Fragments/Nav :: nav"></div>

<h1 class="text-3xl font-bold underline mt-10 text-center">
    Hello world!
</h1>


<script>
    document.addEventListener("DOMContentLoaded", function() {
       const links = document.querySelectorAll(".links a");
       const currentPath = window.location.pathname;

       links.forEach(link => {
           if (link.getAttribute("href") === currentPath) {
               link.parentElement.classList.add("active");
           }

           link.addEventListener("click", function() {
               links.forEach(l => l.parentElement.classList.remove("active"));
               this.parentElement.classList.add("active");
           });
       });
   });

</script>
</body>
</html>
